main {
    border: 3px solid rgb(32, 2, 80);
    margin: auto;
    width:50%;
    background-color:white;
    padding:3em;
    /* box-shadow: 5px 5px #8888887e; */
    border-radius: 20px;
}

h1 {
    color:rgb(32, 2, 80);
    margin:0;
    font-size: 50px;
}

form{
    margin:auto;
    text-align: center;
}
body {
    background-color: rgba(181, 181, 255, 0.918);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 50%;
    border:2px solid rgb(32, 2, 80);
    border-radius: 20px;
    background-color:aliceblue;
    padding:1em;
    font-size: 20px;
}

button {
    margin-left: 3em;
    border:none;
    border-radius:20px;
    background-color: #70F0F2;
    color: rgb(32, 2, 80);
    padding: 1em;
}

P {
    border: 2px solid rgb(32, 2, 80);
    margin:1em auto;
    width:50%;
    background-color: #CAE0E5;
    padding:1em;
    border-radius: 20px;
    text-align: left;
    color:  rgb(32, 2, 80);
    font-size: 20px;
    text-transform: uppercase;
}

.completed {
    text-decoration: line-through;
    background-color:rgb(161, 159, 159);
}

.rimuovi {
    FLOAT: right;
    color:rgb(32, 2, 80);
    width:30px;
    height: 30px;
    border-radius: 5px;
    margin:0;
    background-color:red ;

}

.rimuovi p{
    margin:0;
}